#_RESET_BUTTON
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  line-height: inherit
  margin: 0
  padding: 0
  text-shadow: inherit

#readymade
  
  // @import './readymade/readymade.styl'
  // Overrides default styles here!
  
  [role=navigation]
    .fa-lg
      width: 15px
      overflow: hidden
  
  .readymade-subnav
    > a
      background: darken(white, 10%)
      
      &[aria-selected=true]
        background: white

  .marking-surface-tool[data-focused] .marking-surface-tool-focus-root
    filter: none

  .marking-surface-tool[data-selected] .marking-surface-tool-selected-root
    filter: none
  
  .marking-surface
    svg
      overflow: hidden
      
      .selected
        color: orangered !important
    
  .drawing-controls
    a
      text-decoration: none

  fieldset
    border: none
    
    legend
      margin: 0
      text-indent: 0
      padding: 0
      font-weight: bold
    
    .readymade-choice-label
      display: block
  
  .decision-tree
  .readymade-classification-summary
    padding: .5em
    border-radius: .5em
    background: #333
    background: rgba(0, 0, 0, 0.5)
  
  .readymade-field-guide-container
    position: absolute
    top: 6em
    left: 1em
    flex: 2
    min-width: 25%
    width: 400px
    transition: left 1s
    
    &[aria-hidden=true]
      left: -100em
    
  .readymade-field-guide
    padding: .5em
    border-radius: .5em
    background: #333
    background: rgba(0, 0, 0, 0.8)
    color: white
    
    .readymade-field-guide-pages
      background: transparent
      color: white
      
      img
        width: 150px
        height: 200px
      ul
        margin: auto 0
        text-indent: 0
        padding: 0
        list-style-type: none
      
    [role=tab]
      background: transparent
      color: white
      opacity: 0.5
      
      &[aria-selected=true]
        opacity: 1
      
    .readymade-field-guide-examples
      display: flex
      flex-direction: column
    
    .readymade-field-guide-example:not(:first-child)
      margin-left: 0
      margin-top: 1vw
      
  .drawing-controls
    margin-left: 1em
    
    .readymade-clickable
      display: block
      color: #fff
      background: #000
      background: rgba( 0, 0, 0, .5)
      border: 1px solid transparent
      margin: .2em .5em
      padding: .5em
      text-align: center
      font-size: 1em
      border-radius: .5em
      
    input[disabled] + span
      opacity: 0.3
    
    input:focus + .readymade-clickable
      border: 1px solid white
    
    button
      @extends #_RESET_BUTTON
    
    .small
      width: 15px
      height: 15px
      overflow: hidden
      display: inline-block
    
    label
    button
    a
      &:hover
      &:focus
        color: yellow
        
        .small
          color: yellow
    
  .readymade-marking-surface-container
    flex: 6
  
  .readymade-subject-viewer-container
    max-width: 85%
  
  .fixed-panel
    position: fixed
    right: 1em
    top: 6em
    flex: 1
    min-width: 15%
    max-width: 200px
  
  .group-title
    font-size: 1.5em
  
  #periodicals
      
    a[role=button]
      color: white
      text-decoration: none
      width: 200px
      min-height: 200px
      padding: 1em
      margin-right: 1em
      border-radius: 5px
      display: inline-block
      vertical-align: middle
      text-align: center
      border: 1px solid white

